<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSqlTest.Properties.Settings.FFSLJConnectionString"
            connectionString="Data Source=.;Initial Catalog=FFSLJ;Persist Security Info=True;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
      <add name="sqlserver"  connectionString="Data Source=.;Initial Catalog=FFSLJ;Persist Security Info=True;User ID=sa;Password=sa123456"  providerName="System.Data.SqlClient"/>
      
    </connectionStrings>
</configuration>